@charset "UTF-8";
@charset "UTF-8";

th, tr{
	background:none !important;
}
th{
	border:none !important;
}
td{
	border: 2px solid rgba(128, 255, 128, 0.5) !important;
	color: rgba(128, 255, 128, 0.8) !important
}

body a:hover{
	text-decoration: none;
	color: rgba(128, 255, 128, 0.8) !important;
}

#threadsPanel > div > div > button {
	background: none;
	border: none;
}

#submitThread>span{
	color: black;
	text-shadow: none;
	background:silver;
	border:outset;
	margin-top:5px;
}
#submitThread{
	background: none;
	border:none;
}

#breadcrumb{
	background:none;
	margin: 0;
	padding: 0;
}


#breadcrumb>ul>li>a, #breadcrumb>ul>li{
	color: rgb(128, 255, 128, 0.8);
}