<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core_1_1">
<h:head>
	<link href="${homeBean.URLWithContextPath}/resources/css/style-v2.css"
		rel="stylesheet" type="text/css" />
	<ui:insert name="links">
	</ui:insert>
</h:head>
<h:body>
	<div class="overlay" />
	<div class="ui-g">
		<div class="ui-lg-12 ui-md-6 ui-lg-3 ui-g-nopad" id="header-parent">
			<h:panelGroup id="headerPanel">
				<div id="header" class="ui-g">
					<div class="ui-lg-4 ui-g-nopad">
						<h:outputLink value="#{homeBean.URLWithContextPath}/v2/" styleClass="logoLink">
							<div style="line-height: 0; margin-left:10px;">
								<pre>██╗████████╗███████╗ ██████╗ ██████╗ ██╗   ██╗███╗   ███╗</pre>
								<pre>██║╚══██╔══╝██╔════╝██╔═══██╗██╔══██╗██║   ██║████╗ ████║</pre>
								<pre>██║   ██║   █████╗  ██║   ██║██████╔╝██║   ██║██╔████╔██║</pre>
								<pre>██║   ██║   ██╔══╝  ██║   ██║██╔══██╗██║   ██║██║╚██╔╝██║</pre>
								<pre>██║   ██║   ██║     ╚██████╔╝██║  ██║╚██████╔╝██║ ╚═╝ ██║</pre>
								<pre>╚═╝   ╚═╝   ╚═╝      ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝</pre>
							</div>
						</h:outputLink>
					</div>
					<div class="ui-lg-8 ui-g-nopad">

						<div class="ui-g" style="height: 100%;">

							<div class="ui-lg-2 ui-g-nopad"></div>
							<div class="ui-lg-2 ui-g-nopad"></div>
							<div class="ui-lg-2 ui-g-nopad"></div>
							<div class="ui-lg-2 ui-g-nopad"></div>
							<div class="ui-lg-2 ui-g-nopad"
								style="margin: auto; text-align: center;">
								<h:form prependId="false">
									<p:commandButton value="Вход" id="ajax-login"
										actionListener="#{layoutBean.viewLoginForm}"
										styleClass="ui-priority-primary"
										rendered="#{sessionBean.loginStatus == false}">
										<p:ajax event="dialogReturn"
											update=":headerPanel, :contentPanel" />

									</p:commandButton>
									<p:linkButton value="Кабинет" id="cabinet"
										styleClass="ui-priority-primary"
										rendered="#{sessionBean.loginStatus == true}"
										href="${homeBean.URLWithContextPath}/v2/user.xhtml?id=${sessionBean.user.id}">
									</p:linkButton>
								</h:form>
							</div>
							<div class="ui-lg-2 ui-g-nopad" style="margin: auto;">
								<h:form prependId="false">
									<p:commandButton value="Регистрация" id="signup"
										action="signup" styleClass="ui-priority-primary"
										rendered="#{sessionBean.loginStatus == false}">
									</p:commandButton>
									<p:commandButton value="Выход" id="logout"
										actionListener="#{sessionBean.logout}"
										styleClass="ui-priority-primary"
										rendered="#{sessionBean.loginStatus == true}"
										oncomplete="location.reload();"
										update=":headerPanel, :contentPanel">

									</p:commandButton>
								</h:form>
							</div>
						</div>

					</div>
				</div>
			</h:panelGroup>
		</div>
		<div class="ui-lg-12 ui-md-6 ui-lg-3 ui-g-nopad" style="margin: 2%;">
			<h:panelGroup id="contentPanel">
				<ui:insert name="content">
					<p>Main content</p>
				</ui:insert>
			</h:panelGroup>
		</div>
		<div class="ui-lg-12 ui-md-6 ui-lg-3 ui-g-nopad">
			<div id="footer">
				<ui:insert name="footer">
					<p>Footer</p>
				</ui:insert>
			</div>
		</div>
	</div>
</h:body>
</html>