@charset "UTF-8";

.ui-dataview-list .ui-dataview-row {
	border-bottom: 1px solid #A8A8A8;
}

.postUser{
	text-align:center;
}

.postUsername{
	font-size: 12px;
}

.post-editor{
	background-color: white;
}