<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:scriptfree="http://jakarta.apache.org/taglibs/standard/scriptfree"
	xmlns:permittedTaglibs="http://jakarta.apache.org/taglibs/standard/permittedTaglibs"
	xmlns:sql="http://java.sun.com/jsp/jstl/sql"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core_1_1"
	xmlns:x="http://java.sun.com/jsp/jstl/xml"
	xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>
<h:body>
	<ui:composition template="/shared/layout.xhtml">
		<ui:define name="links">
			<link href="${homeBean.URLWithContextPath}/resources/css/home.css"
				rel="stylesheet" type="text/css" />
		</ui:define>

		<ui:define name="content">
			<ui:repeat var="section" value="#{homeBean.activeSections}">
				<p:dataTable var="category" value="#{section.approvedCategories}">
					<p:column headerText="Разделы">
						<h:outputLink
							value="#{homeBean.URLWithContextPath}/category.xhtml?id=#{category.id}">
							<h:outputText value="#{category.name}">
							</h:outputText>
						</h:outputLink>

					</p:column>
					<p:column>
						<h:outputText value="Темы:#{category.approvedThreads.size()}">
						</h:outputText>
						<br />
						<h:outputText value="Сообщений:#{category.postsNumber}">
						</h:outputText>
					</p:column>
					<p:column headerText="Последнее сообщение">
						<h:outputText value="#{category.lastPost.thread.subject}">
						</h:outputText>
						<br />
						<h:outputText
							value="#{category.lastPost.created.toGMTString()} - #{category.lastPost.userAccount.username}">
						</h:outputText>
					</p:column>
				</p:dataTable>
			</ui:repeat>

		</ui:define>
	</ui:composition>

</h:body>
</html>
