<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<div style="width: 100%; height: 100%; margin: auto;">
		<h:form style="text-align:-moz-center">
			<h:panelGroup>
				<h:outputText id="ptext" value="#{sessionBean.message}" />
			</h:panelGroup>
			<h:panelGrid id="grid" columns="3" cellpadding="5">
				<h:outputLabel for="login" value="Логин:" style="font-weight:bold" />
				<p:inputText id="login" placeholder="Логин или эл. почта"
					required="true" requiredMessage="Поле не может быть пустым"
					label="Login" value="#{sessionBean.login}" />
				<p:message for="login" />

				<h:outputLabel for="password" value="Пароль:"
					style="font-weight:bold" />
				<p:password id="password" required="true"
					requiredMessage="Поле не может быть пустым" label="Password"
					value="#{sessionBean.password}" />
				<p:message for="password" />

			</h:panelGrid>
			<p:commandButton value="Войти" update="grid, ptext"
				icon="pi pi-check" validateClient="true"
				actionListener="#{sessionBean.tryLogIn}"
				style="margin-right:10px;">
				<p:ajax update="ptext" event="click"></p:ajax>
			</p:commandButton>
		</h:form>
	</div>
</body>
</html>
