<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">


<h:head>
	<script src="./resources/js/jquery-3.4.0.min.js"></script>
</h:head>
<h:body>
	<ui:composition template="/shared/layout.xhtml">
		<ui:define name="content">
			<p:breadCrumb>
				<p:menuitem value="Categories" url="#" />
				<p:menuitem value="Sports" url="#" />
				<p:menuitem value="Basketball" url="#" />
				<p:menuitem value="NBA" url="#" />
				<p:menuitem value="Teams" url="#" />
				<p:menuitem value="L.A. Lakers" url="#" />
				<p:menuitem value="Roster" url="#" />
				<p:menuitem value="Kobe Bryant" url="#" />
			</p:breadCrumb>
		</ui:define>
	</ui:composition>
</h:body>
</html>
