<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<h:head>
</h:head>
<h:body>
	<ui:composition template="/shared/layout-v2.xhtml">
		<ui:define name="links">
			<link rel="stylesheet"
				href="${homeBean.URLWithContextPath}/resources/css/styles/tomorrow-night.css" />
			<script
				src="${homeBean.URLWithContextPath}/resources/js/highlight.pack.js"></script>
			<script>hljs.initHighlightingOnLoad();</script>
		</ui:define>
		<ui:define name="content">
			<p:breadCrumb model="#{testBean.bread}">
			</p:breadCrumb>
			
		</ui:define>
	</ui:composition>

</h:body>
</html>
