<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>404-Not Found</title>
	<link type="text/css" rel="stylesheet" href="../resources/css/error.css" />
</h:head>
<h:body style="margin:0;">
	<div class="overlay"></div>
	<div class="terminal">
		<h1>
			Error <span class="errorcode">404</span>
		</h1>
		<p class="output">
			The page you are looking for might have been removed, had its name
			changed or is temporarily unavailable
			</p>
			<p class="output">
				Please try <p:link outcome="home" value="This Link"></p:link>
			</p>
			<p class="output">Good luck</p>
	</div>
</h:body>
</html>