<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="/shared/layout.xhtml">
			<ui:define name="content">
			<h:form>
				<h:inputHidden value="#{serviceBean}" />
			</h:form>
			<h3 align="center" title="#{serviceBean.message}"></h3>
			</ui:define>
	</ui:composition>

</html>